.example {
  /* position: absolute; */
  width: 80vw;
  transform: translateX(-15vw);
}
@media screen and (max-width: 769px) {
  .example {
    /* position: absolute; */
    width: 100vw;
    transform: translateX(-20vw);
  }
}
@media screen and (max-width: 426px) {
  .example {
    /* position: absolute; */
    width: 100vw;
    transform: translateX(-5vw);
  }
}
/* --------------------------------- SANDBOX -------------------------------- */
.sandbox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
}
/* ------------------------------ TITLE EXAMPLE ----------------------------- */
.headline {
  height: 50vh;
}

/* ------------------------------ Desc Example ------------------------------ */
.desc {
  height: 30vh;
}
/* ----------------------------- Service Example ---------------------------- */
.services {
  height: 60vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
@media screen and (max-width: 769px) {
  .services {
    height: 100vh;
  }
}
/* ---------------------------- portfolio example --------------------------- */
.portfolio {
  height: 100vh;
}
