.title,
.parr,
.tip h2 {
  width: 60vw;
  margin: auto;
}

.title {
  font-size: 3em;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.parr {
  font-size: 1.5em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.tip {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.example {
  width: 80vw;
  margin: 5vh auto;
}

/* ------------------------------ TITLE EXAMPLE ----------------------------- */
.titleExample {
  height: 60vh;
  background-color: #054ada;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleExample .wrap {
  width: 50%;
}

.titleExample .headline {
  display: block;
  color: white;
  font-weight: lighter;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-family: sans-serif;
  font-size: 2em;
}

.icon {
  font-size: 1.25em;
  vertical-align: text-bottom;
  color: #ffd700;
}

.callToAction {
  margin-top: 1em;
  background-color: #ff8800;
  padding: 0.5em 1em;
  border: none;
  font-size: 1.5em;
  color: white;
  font-weight: 600;
}

/* ------------------------------ Desc Example ------------------------------ */
.descExample {
  background-color: #fff0c9;
  height: 30vh;
  /* padding: 2em; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.descExample ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.descExample li {
  height: 10vh;
  width: 20%;
  position: relative;
  list-style: none;
  display: block;
  font-size: 1.9em;
  font-weight: 600;
  cursor: pointer;
}

.descExample p {
  color: black;
  font-size: 1.25em;
  font-weight: 500;
  margin-top: 2vh;
}
