.experiencia {
  width: 70vw;
  margin: auto;
}

@media screen and (max-width: 769px){
    .experiencia {
      width: 80vw;
    }
}

@media screen and (max-width: 426px){
    .experiencia {
      width: 90vw;
    }
}

.experiencia h2 {
  margin: 10vh auto;
}

@media screen and (max-width: 426px){
    .experiencia h2 {
      margin: 5vh auto;
    }
}

.timeline {
  position: relative;
  margin: auto;
  width: 55vw;
  /* position: relative; */
}

@media screen and (max-width: 769px){
    .timeline {
      width: 100%
    }
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: black;
  top: 0;
  bottom: 0;
  border-radius: 10px;
}

.job {
  position: relative;
  margin: 5vh 0;
  left: 40px;
  /* width: auto; */
}

.job::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -46.5px;
  background-color: rgb(18, 18, 18);
  top: 50%;
  z-index: 2;
  border-radius: 50%;
}

@media screen and (max-width: 426px){
    .job {
      width: 100%;
      left: 20px;
    }

    .job::after{
      left: -26px;
    }
}

.content {
  /* border: 1px solid black; */
  background-color: rgb(10, 10, 10);
  color: rgba(255, 255, 255, 0.904);
  line-height: 1.5em;
  letter-spacing: 0.09em;
  padding: 2em;
  border-radius: 5px;
}

.content header span {
  font-weight: 200;
  font-size: .9em;
}

.content header,
.content h4,
.content p {
  margin-bottom: 1em;
}

@media screen and (max-width: 426px){
    .content {
      padding: 0.5em;
    }
    .content h3 {
      font-size: 1em;
    }
    .content p, .content span {
      font-size: .8em;
    }
}

.content ul li {
  /* list-style: ; */
  margin: 1em 2em;
}

.demo {
  display: block;
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: center;
  margin-top: 1.25em;
  text-decoration: none;
  color: black;
  font-weight: 600;
  background-color: white;
  transition: all 0.25s;
}

.demo:hover {
  box-shadow: 0px 0px 3px 1px rgb(255, 0, 0);
}
