.experiencia {
  margin: auto;
  width: 55vw;
}
.experiencia h2 {
font-size: 2em;
  margin: 10vh auto;
  text-align: center;
}

.timeline {
  position: relative;
  /* position: relative; */
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: black;
  top: 0;
  bottom: 0;
  border-radius: 10px;
}

.job {
  position: relative;
  margin: 5vh 0;
  left: 40px;
  /* width: auto; */
}


.job::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -46.5px;
  background-color: rgb(18, 18, 18);
  top: 50%;
  z-index: 2;
  border-radius: 50%;
}

.content {
  /* border: 1px solid black; */
  background-color: rgb(10, 10, 10);
  color: rgba(255, 255, 255, 0.904);
  line-height: 1.5em;
  letter-spacing: 0.09em;
  padding: 2em;
  border-radius: 5px;
}

.content header span {
  font-weight: bold;
}

.content header,
.content h4,
.content p {
  margin-bottom: 1em;
}

.content ul li {
  /* list-style: ; */
  margin: 1em 2em;
}

.demo {
  display: block;
  padding: .5em;
  border-radius: .5em;
  text-align: center;
  margin-top: 1.25em;
  text-decoration: none;
  color: black;
  font-weight: 600;
  background-color: white;
  transition: all .25s;
}

.demo:hover {
  box-shadow: 0px 0px 3px 1px rgb(255, 0, 0);

}

.footer {
  height: 100vh;
  background-color: black;
}
