#frame{
  width: 65%;
  margin: auto;
}

#name {
  color: Red;
}

.prop {
  font-style: italic;
  color: #3DD91E;
}

#kind {
  font-size: 1.35em;
  line-height: 1.25em;
}

#kind a{
  text-decoration: none;
}

#kind a:visited{
  color: black;
}

#kind a:hover {
  transition: all .25s;
  color: #3DD91E;
}

#desc {
  font-size: .90em;
  text-align: justify;
}

.cardDeck {
  display: flex;
  margin: 2em 0;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  width: 30%;
}
.card h3{
  text-align: center;
}
.card p{
  text-align: justify;
  font-size: small;
}

@media screen and (max-width: 500px){
  #kind {
    font-size: medium;
  }
}

@media screen and (max-width: 800px) {
  #frame {
    margin: 5%;
    width: 95%;
  }
  .cardDeck{
    display: block;
    margin: none;
  }
  .card{
    width: 100%;
  }
}