* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  margin: 1em 0;
  font-size: 3em;
  font-weight: 400;
}

.Content {
  width: 80vw;
  min-height: 80vh;
  margin: auto;
}

@media screen and (max-width: 769px) {
  .Content {
    width: 85vw;
  }
}

@media screen and (max-width: 426px) {
  .Content {
    width: 90vw;
  }
}
